<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Addproduct</display-name>
    <servlet-name>Addproduct</servlet-name>
    <servlet-class>Addproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addproduct</servlet-name>
    <url-pattern>/Addproduct</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>Forgot</display-name>
    <servlet-name>Forgot</servlet-name>
    <servlet-class>Forgot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgot</servlet-name>
    <url-pattern>/Forgot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modifypro</display-name>
    <servlet-name>Modifypro</servlet-name>
    <servlet-class>Modifypro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifypro</servlet-name>
    <url-pattern>/Modifypro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Discount</display-name>
    <servlet-name>Discount</servlet-name>
    <servlet-class>Discount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Discount</servlet-name>
    <url-pattern>/Discount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quantity</display-name>
    <servlet-name>Quantity</servlet-name>
    <servlet-class>Quantity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quantity</servlet-name>
    <url-pattern>/Quantity</url-pattern>
  </servlet-mapping>
  <display-name>Ecommerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>